<!-- <div *ngIf='!isCollapsed' ></div> -->
<div [ngClass] = "!isCollapsed ? 'show' : 'hide'">
  <ul>
    <li *ngFor="let item of items | slice:0:limit ; let i=index" class='my-list'>
      <div class='full-width-item'>
        <div class='item' [ngClass]="{'new-item': item.new}" (click)="postClick(item)"  >
          <div class='left-chunk'>
            <div class='post-image'>
                <img src="{{item.imageSrc}}" 
                      onerror="this.onerror=null;this.src='../../assets/missing-icon.png'"
                />
            </div>
            <div class='post-details'>
              <div class='post-title'>{{item.title}}</div>
              <div class='post-description'>{{item.description}}</div>
              <div class='post'>{{truncate(item.post)}}</div>
              <div class='post-date'><img src='../../assets/calendar-icon.png' width='20vw'/>
                {{item.date | date:'EEE MMM d yyyy' }}
              </div>
            </div>
          </div>
          <div class='right-chunk centered'>
            <button (click)='deleteItem(item)' class='trash-icon'>
            <img src="../../assets/trash-can-icon.png" 
                width='20vw'
            />
          </button>
          </div>
        </div>
      </div>
    </li>
    <div *ngIf="items.length > limit">
      <div class='load-more'>
        <button class='load-more-text' (click)='loadMorePosts()'>Load More...</button>
      </div>
    </div>
  </ul>
  <!-- Creating my own modal class to show post when clicked -->
  <div id='myModal1' class='modal' (click)="onModalClick($event)">
    <div class='modal-content'>
      <div class='modal-title'>
        <span class='close'>&times;</span>
        <h2>{{currentItem.title}}</h2>
        <p>{{currentItem.description}}</p>
      </div>

      <div class='modal-post'>
        <p>{{currentItem.post}}</p>
      </div>

      <div class='modal-date'>
          <img src='../../assets/calendar-icon.png' width='20vw'/>
          {{currentItem.date | date:'EEE MMM d yyyy'}}
      </div>
    </div>
  </div>
</div>